@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <title>RoyalDine&trade; | Manager</title>
</head>
<body>
    <nav class="nav navbar-default" style="background-color: maroon;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="color: whitesmoke;">RoyalDine&trade;</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" style="color:white;">Home</a></li>
                <li><a href="#" style="color:white;">Schedules</a></li>
                <li><a href="#" style="color:white;">Stats</a></li>
                <li><a href="#" style="color:white;">Preferences</a></li>
                <li><a href="#" style="color:white;">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>Statistics</h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="form-group">
                    <select class="form-control">
                        <option disabled selected>Select a month</option>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>Sempetmber</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">
                <button class="btn btn-warning">Show</button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <table class="table table-bordered">
                    <tr>
                        <td><b>Memebers</b></td>
                        <td><b>Self</b></td>
                        <td><b>Guest</b></td>
                        <td><b>Cost</b></td>
                    </tr>
                    <tr>
                        <td>Bishal</td>
                        <td>20</td>
                        <td>2</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>Sabbir</td>
                        <td>20</td>
                        <td>2</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>Didar</td>
                        <td>20</td>
                        <td>2</td>
                        <td>1200</td>
                    </tr>
                    <tr>
                        <td>Koushik</td>
                        <td>20</td>
                        <td>2</td>
                        <td>1200</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h3 class="text-danger">Total Meal: <span class="text-success">40</span></h3>
                <h3 class="text-danger">Meal Rate: <span class="text-success">20 tk</span></h3>
                <h3 class="text-danger">Total Meal Cost: <span class="text-success">4000</span></h3>
                <h3 class="text-danger">Service Charge: <span class="text-success">2000 tk</span></h3>
                <hr />
                <h3 class="text-danger">Total Cost: <span class="text-success">6000</span></h3>
            </div>
        </div>
    </div>
    <footer class="text-center">
        <hr />
        <p class="text-muted">Copyright &copy; 2018 Sanvi Tech</p>
    </footer>
</body>
</html>
